
<div class='footer_container'>
    <ul>
        <li>联系</li>
        <li>客户服务代表</li>
        <li>店铺</li>
        <li>在线咨询</li>
    </ul>
</div>

<div class="footer_article">
    <dl>
        <dt></dt>
        <dd>
            <h3>品牌故事</h3>
            <p>
                自1895年以来，施华洛世奇一直遵循创始人丹尼尔‧施华洛世奇（Daniel Swarovski）的宗旨，在仿水晶切割工艺上精益求精。
                他追求创新设计的热忱，使施华洛世奇赢得国际知名首饰及配饰品牌的美誉。
            </p>
            <a>发现更多</a>
        </dd>
    </dl>
    <dl>
        <dt></dt>
        <dd>
            <h3>SWAROVSKI CRYSTAL SOCIETY</h3>
            <p>
                身为施华洛世奇仿水晶迷的您，快来加入施华洛世奇水晶会，体验这个独特闪耀的仿水晶世界。
            </p>
            <a>成为会员</a>
        </dd>
    </dl>
    <dl>
        <dt></dt>   
        <dd>
            <h3>BE SWAROVSKI</h3>
            <p>
                施华洛世奇会员奖赏计划为您提供一系列尊贵礼品、特色活动和闪烁惊喜
            </p>
            <a>免费注册</a>
        </dd>
    </dl>
</div>

<div class="footer_carouse">
    
</div>

<div class="footer_bottom">
    <ul>
        <li>关于我们</li>
        <li>施华洛世奇通讯</li>
        <li>常见问题</li>
        <li>其他施华洛世奇网站</li>
    </ul>
    <ul>
        <li>法律条款</li>
        <li>使用条款</li>
        <li>条款和条件</li>
        <li>隐私</li>
        <li>版权</li>
        <li>网站地图</li>
        <li>反现代奴役</li>
    </ul>
    <ul> 
        <li>企业</li>
        <li>专业人士适用的仿水晶</li>
        <li>专业人士适用的立方氧化锆和宝石</li>
        <li>商务礼品</li>
        <li>职业</li>
        <li>Swarovskigroup.com</li>
    </ul>
   <p>© Swarovski Crystal Online AG</p>

  
   </div> 
   
   <div class="footer_bottom_btm">
      <span>上海工商    沪ICP备12041668号-8</span>
      <span>沪公网安备31010102004213号</span>
    </dl>
</div>