
<div class="header_Top_warp">
    <div class="header_Top">
        <span>
            施华洛世奇水晶合作产品
        </span>
        <span>
            施华洛世奇的世界
        </span>
    </div>
</div>

<div class="header_centre_warp">
    <div class="header_centre">
        <div class="header_centre_left">
            <div class="header_centre_map">
                <img src="/images/cn-w9.svg"/>
                <span>
                    丨中国 <img src="/images/xia.png"/>
                </span>
            </div>
            <a href="javascript:;" class="header_centre_chain">
                <img src="/images/stores_black-w11.svg" alt="连锁"/>
                店铺
            </a>
        </div>
        <div class="header_centre_right">
            <div class="header_div_left">
                <a href="/html/login.html" class="header_a_left">
                    <span class="header_centre_logo"></span>
                    <span class="header_centre_text">登录</span>
                </a>
                <ul class="header_left_login">
                    <li>请登录</li>
                    <li>登录</li>
                    <li>或注册</li>
                    <li>注册</li>
                </ul>
                <ul class="header_left_login_z">
                    <li>欢迎您</li>         
                    <li class="header_left_login_username">123</li>
                    <li id="header_quitBtn">退出</li>
                </ul>
            </div>

            <a href="javascript:;" class="header_a_centre">
                <span class="header_centre_logo">
                    <span class="header_a_Cnum">0</span>
                </span>
                <span class="header_centre_text">手机礼品列表</span>
                <span class="header_centre_login">
                    <p>您必须登录才能将产品添加到愿望清单。</p>
                    <ul>
                        <li>登录</li>
                        <li>注册</li>
                    </ul>
                </span>
            </a>
            <a href="/html/cart.html" class="header_a_right">
                <span class="header_centre_logo">
                    <span class="header_a_Rnum">0</span>
                </span>
                <span class="header_centre_text">您的购物袋</span>
                <span class="header_right_login">
                   <span class="header_login_left">
                    <p>您的购物袋为空。</p>
                    <p>您的购物袋中目前没有任何产品。</p>
                    <p>为自己选择闪亮产品。</p>
                    <p>继续购物</p>
                    </span>
                    <img src="/images/REMIX-FW18-EMPTYSHOPPINGBAG2-FO-SD-w55.jpeg" alt="login图">
                </span>  
            </a>
        </div>
    </div> 
    
    <div class="header_bottom_warp">
        <div class="header_bottom_loge">
        <img src="/images/brandlogo-w18.svg" alt="标志"/>
        </div>
        <div class="header_bottom_navigation">
            <ul class="header_navigation">
                <li>SALE</li>
                <li>新品上市</li>
                <li>首饰</li>
                <li>高级珠宝</li>
                <li>腕表</li>
                <li>配饰</li>
                <li>装饰摆件</li>
                <li>礼品中心</li>
                <li>精选系列</li>
                <li>
                   更多
                </li>
            </ul>
            <form>
             <input type="text" placeholder="搜索" class="lenovoinput">
             <span></span>
             <div class="lenoveselect">
                 
             </div>
            </form>
       </div>
    </div>
    <div class="header_class_nav_warp">
        <div class="header_class_nav">
            <h2>123</h2>
            <ul class="header_class_ul">
              
            </ul>
        </div>
    </div>
</div>
<div class="scroll_Top">

</div>
<script type="text/html" id = 'navitem'>
    {{each nav_item item i}}
        <li>{{item.title}}</li>
    {{/each}}
</script>
