<div class="main_advertising">
    
</div>
<section>
    <h1>低至五折</h1>
    <p>
         *优惠和条款仅适用于本官方商城，不适用于线下施华洛世奇水晶轩。
    </p>
    <span>立即选购</span>
</section>

<article>
    <img src="/images/red.jpeg" alt="红包">
    <div class="article_right_text">
        <h3>#新年就耀红#</h3>
        <p>您购买施华洛世奇红色天鹅链坠*,可获得"猪"你吉祥红包袋**一份。*产品货号5465400 **赠品数量有限,赠完即止</p>
        <span>了解更多</span>
    </div>
</article>

<div class="commodity_Top">
    <div class="clicks necklace">
        <p>项链</p>
        <img src="/images/necklace.jpg" alt="项链">
    </div>
    <div class="clicks bracelet">
        <p>手链</p>
        <img src="/images/bracelet.jpg" alt="手镯">
    </div>
    <div class="clicks earrings">
        <p>耳环</p>
        <img src="/images/earrings.jpg" alt="耳环">
    </div>
</div>


<div class="commodity_centre">
    <div class="clicks emboitement">
        <p>套装</p>
        <img src="/images/emboitement.jpeg" alt="套装">
    </div>
    <div class="clicks pendant">
        <p>链坠</p>
        <img src="/images/pendant.jpeg" alt="链坠">
    </div>
    <div class="clicks finger">
        <p>戒指</p>
        <img src="/images/finger.jpeg" alt="戒指">
    </div>
</div>

<div class="commodity_bottom">
    <div class="clicks watches">
        <p>手表</p>
        <img src="/images/watches.jpeg" alt="手表">
    </div>
    <div class="clicks vmobile">
        <p>装饰</p>
        <img src="/images/mobile.jpeg" alt="装饰">
    </div>
    <div class="clicks Decoration">
        <p>装饰摆品</p>
        <img src="/images/Decoration.jpeg" alt="装饰摆品">
    </div>
</div>

<div class = 'main_content_text'>
    <i>
        <p>网上季末折扣条款及条件 </p>
        <p>2018年12月26号 - 2019年1月31号</p>
    </i>
    <p>
        此次促销活动适用于在参与国家或地区的活动期间，在本官方商城上购买指定首饰、配饰、吊坠、腕表和家居摆件。此促销活动可能同时适用于特定参与的国家
        或地区的施华洛世奇水晶轩，但以下项目不包括在內︰SCS专享产品、所有限量产品及年集、礼品卡、适用销售税及运费。 参与的国家或地区的施华洛世奇水
        晶轩的促销日期、供促销的产品选择及折扣优惠可能各有不同。产品数量有限，售完即止。施华洛世奇官方商城不提供增值税退款。 活动前以常规价格购买的
        产品不参加此次促销活动。此促销活动只适用于正价产品，并且不与其他优惠一起使用。

    </p>
</div>


<div class="main_footer_content_warp">
    <div class="main_footer_content">
        <div class="main_footer_content_left">
            <dl>
                <dt>关注我们 </dt>
                <dd>
                    <img src="/images/youku_black.svg" alt="">
                    <img src="/images/wechat_black-w50.svg" alt="">
                    <img src="/images/weibo_black.svg" alt="">
                </dd>
            </dl>
        </div>
        <div class="main_footer_content_right">
            <p>订阅新闻通讯，赢取 10% 优惠券*</p>
            <input type="text" placeholder="您的电子邮件地址">
            <img src="/images/error_cardinal-w53.svg" alt="错误">
            <span>订阅</span>
            <i>请输入您的电邮地址</i>
        </div>
    </div>
</div>